*{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans',
    padding: 0px;
    margin: 0px;
}
/* navber start */
.nav{
  display: flex;
  justify-content: space-evenly;
  height: 93px;
  border-radius: 600px;
  background: #F85559;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}
.manu{
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
}
.manu ul{
  display: flex;
}
.manu ul li{
  list-style: none;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo h1{
  font-size: 27px;
  font-weight: 500;
  margin-left: 15px;
  color: #fff;
}
.logo img{
 height: 45px;
}
.search input{
  height: 44px;
  width: 339px;
  border-radius: 50px;
  padding: 0px 23px;
  border: none;
  outline: none;
 

}
.search i{
position: relative;
right: 48px;
}
  /* navber end */

/* banner start */
  .banner-class{
    justify-content: center;
    
    width: 1300px;
height: 211px;
border-radius: 15px;
padding-left: 52;
box-shadow: 0px 8px 60px 0px ;
background: white;
margin-left: 300px;
position: relative;
margin-top: -119px;



   
}
    

  
  .banner-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    
  }
  .banner-name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 30px;
    
  }
  /* banner end */
  
  /* Date and time */
  .time-bar{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    
  }
  .time-font h1{
    
color: #121212;
text-align: center;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
text-align: left;
  }
  time-font p{
    color: rgba(18, 18, 18, 0.60);
font-size: 20px;
margin-top: 20px;
text-align: left;


  }
  <!-- /* Date and time end*/ -->

  /* .price{ */
  

  .all-price{
    display: flex;
    text-align: center;
    margin: 20px 20px 30px 70px;
    gap: 50px;
    
  }
  .price-box{
    width: 342px;
height: 477px;
border-radius: 20px;
border: 5px solid rgba(18, 18, 18, 0.10);
background: #FFF;
align-items: center;
margin-left: 50px;
     

  }
  .price{
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
   
  }
  .price-name p{
    margin-top: ;
  }
  .price-name{
    text-align: center;
    margin-top: 40px;
  }
  .price-name h1{color: #121212;
    text-align: center;
    
    font-size: 24px;
    
    font-weight: 700;

  }
  .svg-file{
    text-align: center;
    margin-left: 20px;
    
    
  }



  
  .svg-file{
margin: 30px 20px 10px 79px;

  }
  .detials{
    display: flex;
    margin: 0px 30px 0px 141px;
    color: #F85559;

  }
  .line-full{
    /* margin-top: 10px;
    margin-right: 50px;
    margin-right: 50px; */
    margin: 10px 50px 10px 50px;
    width: 222px;
height: 3px;
background: rgba(18, 18, 18, 0.10);
text-align: center;
  }
  /* price end */
/* button start */
  .btn-all {
  
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
   gap: 10px;
   border-radius: 15px;
background: #F85559;
margin: 100px 736px 121px 853px;
height: 64px;
width: 135px;
color: #FFF;
text-align: center;
padding-top: 20px;
}
/* button end */
/* <!-- Fruits Expert start --> */
.Fruits-Expert{
  display: flex;
  /* justify-content: space-around; */
  margin-left: 100px;
  margin-bottom: 100px;
  
  
}
.Fruits-Expert img{
  background-color: #FFF;
  position:relative;
  margin-top: -270px;
  /* margin-top: -300px; */
  border-radius: 140px;
  width: 140px;
height: 140px;
margin-left: 221px;
gap: 20px;
}
.Fruits-Expert h1{
  color: #FFF;
  font-size: 30px;
  margin-left: 194px;


}
.Fruits-Expert p{
  color: #FFF;
  margin-left: 242px;
}
.Fruits-Expert ul {
  margin-left: 250px;
}

.Fruits-Expert ul i{
  color:#F85559;
  gap: 20px;
  width: 24px;
height: 24px;


}
/* <!-- Fruits Expert end --> */
/* foooter */
.main-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 1902px;
height: 536px;
background:#121212;
color: white;

}
.main-footer ul li{
  flex-direction: row;

}
.service{
  display: flex;
  margin-bottom: 40px;

}
.logo-img{
  padding-bottom: 40px;
  
  display: flex;
  align-items: center;
 


}
.logo-img h1{
  font-size: 40px;
  
  width: 210px;
  height: 48px;


}
.logo-img img{
  /* width: 54.517px;
height: 60px; */

padding-top: 30px;

}
.service i{
  padding: 0px 20px;
  font-size: 30px;
}
.service li{
  /* margin: 0px 40px; */
  padding: 0px 30px;
  list-style: none;

}






 
